/*header start*/
 body{



 	margin: 0;
 	padding: 0;
 	font-family: sans-serif;
 }


header{


	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 600px;
   
}


.container{

	width: 75% ;
	margin: 0 auto;
	padding: 18px;
	overflow: hidden;
}
.logo {
    width: 12%;
    margin: 0;
    padding-top: 10px;
    float: left;}

.logo img {
    width: 100%;
}


/*menu start*/
.menu {
    width: 65%;
    float: right;
}

.menu ul {
    float: right;
    padding-top: 15px;
}


.menu ul li{
  float: left;
  list-style: none;
}

.menu ul li a{
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    color: white;
    border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	margin-right: 0;
	border: 2px solid white;
	border-radius: 40px;
}
.menu ul li a: hover{
	border-bottom: 1px solid #626262;

}

/*menu ends*/



/*explore start*/

.explore{
   
  width: 100%;
  margin: auto;
  padding-top: 200px;
  text-align: center;
}

.explore h1{
	font-family: sans-serif;
	font-size: 45px;
	color: white;

}
.explore h2{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;

}
.hr1{
    width: 8%;
    margin: 0 auto;
    border-bottom: 2px solid #FB2056;
    

}


.button{
    font-size: 13px;
    word-spacing: 2px;
    font-weight: 600;
    padding: 15px 40px;
    background-color: #FB2056;
	border-radius: 45px;
    color: #FFFFFF;
    text-decoration: none;
}
/*explore ends*/

/*header ends*/

/*qoutes start*/

.qoutes{
    background-color: #F5F5F5;
    padding: 50px 0;
}

.qimg{

    width: 12%;
    float: left;
    margin-left: 25px;
}

.text{
    text-align: center;
    margin-right: 10px;
    color: #96A1A5;
}
.text p{
    font-weight: 600;
}
.text h2{
    font-size: 20px;
}
/*qoutes ends*/


/*event start*/

.event{
        padding: 90px 0;
    margin-bottom: 65px;
  
}

.container1{
    

    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.text1{
    font-size: 15px;
    text-align: center;
    margin-bottom: 65px;

}

.eimg{


    width: 40%;
    margin-top: 65px;
    float: left;

}

.eimg img{
    width: 100%;
    box-shadow: 5px 5px lightgray;
}

.eimg1{
    text-align: center;
    text-transform: uppercase;
}

.eimg2{
    font-size: 16px;
    font-weight: 400;
    color:#96A1A5 ;
    text-align: center;

}


.a{
    font-weight: 600;
    text-decoration: none;
    color: #fc1160;
    text-transform: uppercase;
    text-align: center;

}


.eimg_{


    width: 40%;
/*    margin-top: 65px;*/
    float: right;

}

.eimg_ img{
    width: 100%;
    box-shadow: 5px 5px lightgray;
}

.a1{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fc1160;
    text-transform: uppercase;
    text-align: center;
    margin-left: 160px;

}
/*event ends*/


/*banner2 start*/
.banner2 {
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}


.explore2{

    width: 40%;
    padding: 50px 0;
    float: right;
}
.container2{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.ex_h{
  
    font-family: sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    margin-right:80px;
}
.ex_h span{

    margin-right: 200px;
}
.hr2{
    margin-top: 0;
    margin-left: 0px;
    width: 12%;
    border-bottom: 2px solid #FB2056;
    background-color: red;
}

.ex_p{
    color: white;
    margin: 30px auto;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.5;
}

.ba{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;

}

/*banner2 ends*/


/*upcoming start*/

.upcoming{

  margin: 0 auto;
  width: 65%;
  overflow: hidden;

}

.container3 {
 margin: 90px auto;
 padding-bottom: 350px;
}


.u_left {
    width: 30%;
    float: left;
}


.u_left h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
}

.u_left p{
    color: #6E7072;
    font-size: 17px;
    letter-spacing: 0.5px
}

.hr3{
    width: 12%;
    margin-left:0px ;
    border-bottom: 2px solid #FB2056;
    

}

.u_right{
    width: 60%;
    float: right;
}

.u_img{
    
    width: 45%;
    float: left;
}
.u_img img {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
}


.u_img1{
    width: 45%;
    float: right;
}

.u_img1 img {

    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
}

.f{
    width: 100%;
    margin: 0 auto;
}
footer{
    background-color: #191919;
    padding: 30px 0;
  
}
footer p{
    margin: 0;
    color: white;
    text-align: center;
}
/*upcoming ends*/